.content {
    flex-grow: 2;
    width: 75%;
    padding: 0 25px;
    background-color: var(--dark-background);
}

.content .simplebar-content {
    display: flex;
    justify-content: center;
}

.content__main {
    width: 80%;
    max-width: 1000px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .content__main {
        width: 100%;
    }
}