.newCollection .formMain {
    height: 90%;
    max-height: 550px;
}

.newCollection .simplebar-content {
    flex-direction: column;
}

.newCollection__label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    color: white;
}

.newCollection .formInput {
    margin-bottom: 30px;
}

.newCollection__colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.colorItem {
    width: 60px;
    min-width: 60px;
    height: 50px;
    min-height: 50px;
    box-sizing: border-box;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.newCollection__icon {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

.newCollection__dropDownContent {
    display: none;
    position: absolute;
    overflow: auto;
    width: 155px;
    max-height: 160px;
    top: 170px;
    background-color: var(--hover-gray);
    border-radius: 15px;
    padding: 15px;
}

.newCollection__dropDownContent.visible{
    display: block;
}

.newCollection__iconWrapper {
    border: 3px solid var(--hover-gray);
    box-sizing: border-box;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.newCollection__dropDownContent i {
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s;
}

.newCollection__dropDownContent i:hover {
    transform: translateY(-2px);
}

@media screen and (max-width: 738px) {
    .newCollection .formMain {
        max-height: none;
        height: 100%;
    }
}
