.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--nav-gray);
    height: 100%;
    width: 225px;
    min-width: 225px;
    overflow: auto;
    transition: width 0.4s, min-width 0.4s;
}

.sidebar.closed {
    min-width: 0px;
    width: 0%;
}

.sidebar__header {
    top:0;
    position: sticky;
    background-color: var(--nav-gray);
    padding: 15px 25px;
}

.sidebar__headerLeft {
    width: 75%;
    margin-right: 5px;
}

.sidebar__title {
    color: var(--text-gray);
    font-weight: 600;
    font-size: 16px;
    cursor: default;
}

.sidebar__add {
    color: var(--text-gray);
    border-radius: 40%;
    height: 25px;
    width: 25px;
    transition: color 0.2s,transform 0.2s;
}

.sidebar__add:hover {
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

.sidebar__listItem {
    justify-content: flex-start;
    height: 65px;
    text-decoration: none;
    border-left: 0px solid var(--nav-gray);
    transition: border-left 0.2s, background-color 0.1s;
    cursor: pointer;
}

.sidebar__listItem.active {
    background-color: var(--hover-gray);
}

.sidebar__listItem:hover {
    background-color: var(--hover-gray);
}

.sidebar__itemWrapper {
    color: white;
}

.sidebar__iconContainer {
    margin: 0 15px 0px 25px;
    height: 33px;
    width: 33px;
    border-radius: 30%;
}

.sidebar__label {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}