<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App - Tsks, just tasks.</title>
    <link rel="icon" href="/public/assets/favicon_x32.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/app/css/app.css">
</head>

<body>
    <div class="app">
        <nav class="navbar flexCenter">
            <div class="navbar__listLeft">
                <div class="navbar__item flexCenter" id="menu">
                    <div class="navbar__iconContainer flexCenter">
                        <i class="material-icons md-30">menu</i>
                    </div>
                </div>
                <div class="navbar__item flexCenter" id="dashboard">
                    <div class="navbar__iconContainer flexCenter">
                        <i class="material-icons md-24">dashboard</i>
                    </div>
                    <span class="navbar__label">Dashboard</span>
                </div>
            </div>
            <div class="navbar__listRight">
                <div class="navbar__item flexCenter" id="avatar">
                    <img src="/app/assets/avatar.png" alt="avatar">
                </div>
                </ul>
        </nav>
        <div class="container">
            <nav class="sidebar" data-simplebar>
                <div class="sidebar__header flexCenter">
                    <div class="sidebar__headerLeft">
                        <span class="sidebar__title">Collections</span>
                    </div>
                    <div class="sidebar__headerRight flexCenter">
                        <div class="sidebar__add flexCenter">
                            <i class="material-icons">add</i>
                        </div>
                    </div>
                </div>
                <div class="sidebar__list">
                </div>
            </nav>
            <div class="content flexCenter" data-simplebar>
                <main class="content__main">
                </main>
            </div>
            <div id="loading"><span>Loading...</span></div>
        </div>
    </div>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"
        integrity="sha512-EZhmSl/hiKyEHklogkakFnSYa5mWsLmTC4ZfvVzhqYNLPbXKAXsjUYRf2O9OlzQN33H0xBVfGSEIUeqt9astHQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="/app/js/firebase/config.js"></script>
    <script src="/app/js/firebase/tasksFir.js"></script>
    <script src="/app/js/firebase/collectionsFir.js"></script>
    <script src="/app/js/global.js"></script>
    <script src="/app/js/utils/utils.js"></script>
    <script src="/app/js/modals/editTask.js"></script>
    <script src="/app/js/modals/newCollection.js"></script>
    <script src="/app/js/components/navbar.js"></script>
    <script src="/app/js/components/sidebar.js"></script>
    <script src="/app/js/components/task.js"></script>
    <script src="/app/js/components/collection.js"></script>
    <script src="/app/js/views/tasksView.js"></script>
    <script src="/app/js/views/dashboardView.js"></script>
    <script src="/app/js/todo.js"></script>
</body>

</html>