<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tsks, just tasks.</title>
    <link rel="icon" href="/home/assets/favicon_x32.png">
    <link rel="stylesheet" href="/home/css/home.css">
</head>

<body>
    <div class="app">
        <div class="container">
            <nav class="navbar">
                <div class="navbar__list">
                    <img src="/home/assets/tsks-logo-w-type.svg" class="navbar__logo">
                    <span class="navbar__link">Features</span>
                </div>
                <div class="navbar__list">
                    <span class="navbar__link">Sign in</span>
                    <span class="navbar__button">Sign up</span>
                </div>
            </nav>
            <main class="lead">
                <span class="lead__header">Tsks, just tasks<span class="lead__header--pink">.</span></span>
                <p class="lead__description">Keep track of the daily tasks in life and<br> get that satisfaction upon
                    completion.</p>
                <div class="lead__links">
                    <a href="/app" class="lead__link lead__link--pink">Get Started</a>
                    <a href="/" class="lead__link lead__link--gray">Learn More</a>
                </div>
            </main>
        </div>
    </div>
</body>

</html>