<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Tsks.</title>
    <link rel="icon" href="/public/assets/favicon_x32.png">
    <link rel="stylesheet" href="/signIn/css/signIn.css">
</head>

<body>
    <div class="signIn">
        <div class="container">
            <h1 class="title">Sign in.</h1>
            <div class="external-sign-in-button">
                <i class="external-sign-in-button__icon"></i>
                Continue with Google
            </div>
            <div class="external-sign-in-button">
                <i class="external-sign-in-button__icon"></i>
                Continue with Facebook
            </div>
            <span class="break">or</span>
            <form action="/" class="sign-in-form">
                <input type="text" class="sign-in-form__input">
                <input type="password" class="sign-in-form__input">
                <button class="sign-in-form__submit">Sign up</button>
            </form>
            <p class="hint">Don't have an account? <a href="/users/signup">Sign up</a></p>
            <a class="forgot-password">Forgot password?</a>
            <a href="back-to-home">
                <i class="back-to-home__icon"></i>
                Back to home
            </a>
        </div>
    </div>
</body>

</html>