<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Tsks.</title>
    <link rel="icon" href="/public/assets/favicon_x32.png">
    <link rel="stylesheet" href="/signUp/css/signUp.css">
</head>

<body>
    <div class="signUp">
        <div class="container">
            <h1 class="title">Sign up.</h1>
            <div class="external-sign-up-button">
                <i class="external-sign-up-button__icon fab fa-google"></i>
                Continue with Google
            </div>
            <div class="external-sign-up-button">
                <i class="external-sign-up-button__icon fab fa-facebook"></i>
                Continue with Facebook
            </div>
            <span class="break">or</span>
            <form action="/" class="sign-up-form">
                <input type="text" class="sign-up-form__input" placeholder="Email">
                <input type="password" class="sign-up-form__input" placeholder="Password">
                <button class="sign-up-form__submit">Sign up</button>
            </form>
            <p class="hint">Already have an account? <a class="hint__anchor" href="/users/signin">Sign in</a></p>
            <a class="back-to-home" href="/">
                <i class="back-to-home__icon fas fa-arrow-left"></i>
                Back to home
            </a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/dd4afe50d1.js" crossorigin="anonymous"></script>
</body>

</html>