<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Tsks.</title>
    <link rel="icon" href="/public/assets/favicon_x32.png">
    <link rel="stylesheet" href="/signUp/css/signUp.css">
</head>

<body>
    <div class="signUp">
        <div class="container">
            <h1 class="title">Sign up.</h1>
            <div class="external-sign-up-button">
                <i class="external-sign-up-button__icon fab fa-google"></i>
                Continue with Google
            </div>
            <div class="external-sign-up-button">
                <i class="external-sign-up-button__icon fab fa-facebook"></i>
                Continue with Facebook
            </div>
            <span class="break">or</span>
            <form class="sign-up-form">
                <input type="text" class="sign-up-form__input" id="email" placeholder="Email">
                <input type="password" class="sign-up-form__input" id="password" placeholder="Password">
                <button class="sign-up-form__submit">Sign up</button>
            </form>
            <p class="hint">Already have an account? <a class="hint__anchor" href="/signin">Sign in</a></p>
            <a class="back-to-home" href="/">
                <i class="back-to-home__icon fas fa-arrow-left"></i>
                Back to home
            </a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/dd4afe50d1.js" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
                 https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="/public/js/firebase/config.js"></script>
    <script src="/public/js/firebase/auth.js"></script>
    <script src="/signUp/js/signUp.js"></script>
</body>

</html>