@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

$nunito-sans: 'Nunito Sans', sans-serif;
$inter: 'Inter', sans-serif;

$light: 200;
$normal: 400;
$semi-bold: 600;
$bold: 700;

$font-body: 18px