.contentDashboard__collectionItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    height: 160px;
    border-radius: 25px;
    background-color: var(--nav-gray);
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc(100% * (1/3) - 20px);
}

.contentDashboard__collectionItem:hover {
    background-color: var(--hover-gray);
}


.collectionItem__header {
    display: flex;
    justify-content: flex-start;
}

.contentDashboard__iconContainer {
    width: 33px;
    height: 33px;
    border-radius: 30%;
}

.contentDashboard__iconContainer i {
    color: white;
}

.contentDashboard__collectionInfo {
    display: flex;
    justify-content: space-between;
}

.collectionInfo__left {
    display: flex;
    flex-direction: column;
}

.collectionTitle {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}

.collectionStats {
    font-weight: 700;
    font-size: 15px;
    color: var(--text-gray-dark);
}

.collectionStats.loading {
    background-color: var(--loading-gray);
    border-radius: 15px;
    color: transparent;
    width: 80px;
    height: 18px;
}

.collectionProgress {
    display: flex;
    align-items: flex-end;
}

.progressCircle {
    width: 22px;
    height: 22px;
}