.content {
    flex-grow: 2;
    width: 75%;
    min-width: 370px;
    background-color: var(--dark-background);
}

.content .simplebar-content {
    display: flex;
    justify-content: center;
}

.content__main {
    width: 40%;
    margin-bottom: 50px;
}