.contentTasks__header {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.contentTasks__headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white
}

.contentTasks__headerLeft .header__title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 13px;
}

.contentTasks__returnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35%;
    text-decoration: inherit;
    color: inherit;
    background-color: var(--nav-gray);
    transition: all 0.2s;
}

.contentTasks__returnButton:hover {
    background-color: var(--hover-gray);
    transform: translateY(-2px);
    cursor: pointer;
}

.contentTasks__headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-gray);
    transition: all 0.2s;
}

.contentTasks__headerRight:hover{
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

.contentTasks__newTask {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--dark-border);
    box-sizing: border-box;
}

.smallBox {
    box-sizing: border-box;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 40%;
}

.contentTasks__newTaskAdd {
    color: #17181F;
    background-color: var(--std-pink);
    background: var(--std-pink);
    transition: all 0.2s;
}

.contentTasks__newTaskAdd:hover {
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

.contentTasks__newTaskInput {
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    color: var(--text-gray);
    border: 0;
    margin-left: 10px;
    width: 100%;
}

.contentTasks__newTaskInput:placeholder {
    color: var(--text-gray);
}

.contentTasks__taskHeader {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 600;
    color: white;
}

.contentTasks__taskList{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contentTasks__taskListItem {
    justify-content: space-between;
    min-height: 44px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--nav-gray);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.contentTasks__taskLeft {
    justify-content: flex-start;
    width: 75%;
    flex-grow: 2;
}

.contentTasks__taskRight {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    width: 25%;
    opacity: 0;
}

.hovered .contentTasks__taskRight {
    opacity: 1;
}

.contentTasks__taskRight i {
    margin-left: 5px;
    color: var(--text-gray);
    transition: all 0.2s;
}

.contentTasks__taskRight i:hover {
    color: white;
    transform: translateY(-2px);
}

.contentTasks__toggleTaskStatus {
    border: 2.5px solid var(--std-pink);
    color: var(--nav-gray);
    transition: all 0.2s;
}

.contentTasks__toggleTaskStatus:hover {
    background-color: var(--std-pink);
    cursor: pointer;
}

.completed .contentTasks__toggleTaskStatus {
    background-color: var(--std-pink);
    cursor: pointer;
}

.completed .contentTasks__toggleTaskStatus:hover {
    background-color: var(--nav-gray);
}

.contentTasks__taskText {
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: var(--text-gray);
    margin-left: 10px;
}

.completed .contentTasks__taskText {
    text-decoration: line-through;
}