.navbar {
    z-index: 1;
    position: relative;
    justify-content: space-between;
    height: 50px;
    background-color: var(--nav-gray);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.72);
}

.navbar__listRight {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 25px;
    list-style-type: none;
}

.navbar__listLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding-left: 25px;
}

.navbar__listLeft .navbar__item:first-child {
    margin-left: 0;
}

.navbar__listRight .navbar__item:last-child {
    margin-right: 0;
}

.navbar__item {
    color: var(--text-gray);
    margin-right: 25px;
    transition: color 0.2s,transform 0.2s;
}

.navbar__item:hover {
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

.navbar__label {
    margin-left: 10px;
    font-weight: 400;
}

#avatar {
    overflow: hidden;
    border-radius: 50%;
}
 
#avatar img {
    width: 30px;
    height: 30px;
}