$background-gray: #1d1d26;
$highlight-gray: #30303d;
$light-gray: #c3c3d9;
$pink: #ff76a1;
$input-white: #e8f0fe;
$pink-gradient: linear-gradient(45deg, #cd4cce 0%, #ff9784 100%);
$inset-box-shadow: inset 0 -13px 0px -8px #03030333;