$background-gray: #1d1d26;
$highlight-gray: #30303d;
$light-gray: #c3c3d9;
$pink: #ff76a1;
$input-white: #e8f0fe;
$pink-gradient: linear-gradient(45deg, #cd4cce 0%, #ff9784 100%);
$inset-box-shadow: inset 0 -13px 0px -8px #03030333;

$dark-background: #17181F;
$nav-gray: #1D1D26;
$hover-gray: #282934;
$loading-gray: #30313d;
$text-gray: #cfcfcf;
$text-gray-dark: #7B7C83;
$button-gray: #32323F;
$dark-border: #1d1e26;
$std-pink: #ff76a1;