@import '../../../public/css/utils/utils';


.dashboard {
    flex-direction: column;

    @include responsive($s) {
        margin-left: 0;
    }

    &__header {
        @include flex(row, center, flex-start);
        font-weight: $bold;
        font-size: $font-size-header-s;
        color: white;
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

.collections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}