@import '../../../public/css/utils/utils';


.dashboard {
    flex-direction: column;
    margin-left: 20px;

    @include responsive($s) {
        margin-left: 0;
    }

    &__header {
        @include flex(row, center, flex-start);
        font-weight: 700;
        font-size: 30px;
        color: white;
        margin: 40px 0;
    }
}

.collections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}