@import '../../../public/css/utils/utils';

.modal-form {
    @include flex;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.form-main {
    @include flex(column, center, flex-start);
    width: 25%;
    min-width: 400px;
    margin: 0 40px;
    box-sizing: border-box;
    padding: 30px 25px;
    border-radius: 15px;
    background-color: $nav-gray;
    overflow: auto;

    @include responsive($m) {
        min-width: 0;
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: 0;
    }
}

.form-input {
    font-family: inherit;
    font-weight: 500;
    font-size: $font-size-body-s;
    color: $text-gray;
    overflow: visible;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    resize: none;
    outline: none;
    background-color: transparent;
    border: 2px solid $hover-gray;
    border-radius: 13px;
}

.form-buttons {
    @include flex(row, center, flex-start);
    margin-top: 30px;
    width: 100%;
}

.form-button {
    @include flex;
    width: 75px;
    box-sizing: border-box;
    padding: 11px 50px;
    margin-right: 15px;
    color: white;
    font-weight: $semi-bold;
    border-radius: 10px;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }

    &.save {
        background: $pink-gradient
    }

    &.cancel{
        background-color: $button-gray;
    }
}