@import '../../public/css/utils/utils';

:root {
    --dynamic-collection-color: #ff76a1;
}

* {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    height: 100vh
}

body {
    font-family: $nunito-sans;
    display: grid;
    place-items: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-30 { font-size: 30px; }

.simplebar-scrollbar::before {
    background-color: #4c4e5c;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.72);
    user-select: none;
}

.container {
    @include flex(row, center, space-between);
    height: calc(100% - 50px);
}

#loading {
    display: none;
    cursor: wait;
}

#loading.visible {
    @include flex;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;   
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 5;
    color: white;
    font-weight: $bold;
    font-size: $font-size-header-s;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background-color: #4c4e5c6e;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover {
    background-color: #4c4e5c6e;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
    background-color: #4c4e5c6e;
}